transformers==4.17.0
torch==1.11.0
pytorch-lightning==1.9.5
jupyter==1.0.0
black==22.1.0
flake8==3.7.9
fastapi==0.103.0
uvicorn==0.22.0
pandas==2.0.3
lorem-text==2.1
datasets==2.14.4
boto3==1.28.45
wandb==0.15.10
just==0.8.161
sqlalchemy
snowflake-sqlalchemy==1.5.1
snowflake-connector-python==3.6.0
